@model List<Tag>

<div class="card border-0">
    <div class="card-header">
        <h6 class="card-title fw-bold">discover more of what matters to you</h6>
    </div>
    <div class="card-body">
        <ul class="list-inline d-flex flex-wrap gap-2">
            @foreach(var tag in Model)
            {
                <li class="list-inline-item">
                    <a href="/posts/tag/@tag.Url" class="btn btn-outline-secondary btn-sm">@tag.Text</a>
                </li>
            }
        </ul>
    </div>
</div>