@model Post

<div class="row">
    <div class="col-lg-9">
        <div class="bg-white p-4">
            <h1 class="h4 mb-3 fw-bold">@Model.Title</h1>
            <div class="tags">
                <a href="" class="badge bg-secondary">test tag</a>
                <a href="" class="badge bg-secondary">test tag</a>
                <a href="" class="badge bg-secondary">test tag</a>
            </div>
            <img src="~/img/@Model.Image" class="img-fluid rounded" alt="@Model.Title's image">
            <div>
                @Model.Content
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        @await Component.InvokeAsync("TagsMenu");
        @await Component.InvokeAsync("NewPostsMenu");
    </div>
</div>


