body {
    background-color: rgba(187, 185, 185, 0);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.content-img {
    width: 400px;
    height: 300px;
}
#avatar {
    width: 10px;
    height: 10px;
}